
<div class="col-md-12">
	<h3 class="mb-3 text-center">New Order</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Stock Ticker</label>
	  <input id="ticker_import" type="text" (change)="updatePrice()" [(ngModel)]="stockDetails.stock_ticker" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input id ="price-import" type="text" [(ngModel)]="stockDetails.price" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Quantity</label>
	  <input type="text" [(ngModel)]="stockDetails.quantity" class="form-control">
	</div>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" style="margin:5px;" (click)="buyStock()">Buy</button>
	   <button class="btn btn-success btn-lg btn-block" style="margin:5px;" (click)="sellStock()">Sell</button>
	</div>
</div>
