
<!-- Stocks list table, it hides when there is no stock -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Stock Id</th>
			<th scope="col">Stock Ticker</th>
			
			
			<th scope="col">Last Close Price</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks">
			<td>{{stock.transaction_id}}</td>
			<td>{{stock.stock_ticker}}</td>
			
			
			<td>{{stock.last_close_price}}</td>
			
		  </tr>
		</tbody>
	  </table>
	</div>
</div>



