<div class="container">
  <div class = "top-bar">
  
    <a [routerLink]="['stock-enlist']">
    <h1>Stock Brocker</h1>
    </a>
    <a class="button fancy-button1"  routerLink="/stock-list" >List Orders</a>    

    <a class="button fancy-button2" routerLink="/create-stock">Place Orders</a>    
  </div>
  <router-outlet></router-outlet>
</div>


