.top-bar {
    background-color: aqua;
    overflow: hidden;
    
        width: 100%;
        height: 68px;
        background-color: #1976d2;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
  }
  .top-bar h1{
    color: white;
    margin: 0;
  
  }
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  * {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  
  
  router-outlet + *  {
    padding: 0 16px;
  }
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  .fancy-button1 {
    background-color: white;
    color: #1976d2;
   
        float:left;
        margin-left:650px;
    
  }
  
  .fancy-button1 i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  .fancy-button2 {
    background-color: white;
    color: #1976d2;
   
        float:left;
        margin-right:5px;
    
  }
  
  .fancy-button2 i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  

