<!--<button class="btn btn-outline-primary" routerLink="/create-stock">Add Stock Order</button>-->

<!-- Stocks list table, it hides when there is no stock -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Transaction Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Quantity</th>
			<th scope="col">Transaction Price</th>
			<th scope="col">Last Close Price</th>
			<th scope="col">Order Type</th>
			<th scope="col">Status</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks">
			<td>{{stock.transaction_id}}</td>
			<td>{{stock.stock_ticker}}</td>
			<td>{{stock.quantity}}</td>
			<td>{{stock.price}}</td>
			<td>{{stock.last_close_price}}</td>
			<td>{{stock.buy_or_sell}}</td>

			<td *ngIf="stock.status_code == 0">Initialised</td>
			<td *ngIf="stock.status_code == 1">Processing</td>
			<td *ngIf="stock.status_code == 2" style="background-color: lightgreen">Success</td>
			<td *ngIf="stock.status_code == 3" style="background-color: red">Failed</td>
			<td>
			  <a *ngIf="stock.status_code == 0" [routerLink]="" style="margin:5px;" (click)="deleteStock(stock.transaction_id)" class="btn btn-danger btn-sm float-right">Delete</a>
			  <a *ngIf="stock.status_code == 0"[routerLink]="" style="margin:5px;" (click)="updateStock(stock)" class="btn btn-danger btn-sm float-right">Modify</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>

